@mixin atSmall {
  @media (min-width: 520px) {
    @content;
  }
}

@mixin atMedium {
  @media (min-width: 820px){
    @content;
  }
}

@mixin atLarge {
  @media (min-width: 1000px){
    @content;
  }
}
@mixin atXLarge {
  @media (min-width: 1400px){
    @content;
  }
}
@mixin landscapePos {
  @media (max-width: 800px) and (orientation: landscape){
    @content;
  }
}
@mixin clearfix {
  &::after{
    content: "";
    display: table;
    clear: both;
  }
}
