.color1{
	background-color: #ff6600;
}
.color2{
	background-color: #aaaab3;
}
.color3{
	background-color: #0000ff;
}
.color4{
	background-color: #1affd1;
}
.color5{
	background-color: #ff0066;
}
.color6{
	background-color: #669900;
}
.color7{
	background-color: #ffffff;
}
.color8{
	background-color: #993300;
}
.color9{

	background-color: #b300b3;
}
.color10{
	background-color: #ffcc00;
}
.color11{
	background-color: #800000;
}
.color12{
	background-color: #6666ff;
}
